<h2>Listing search agents</h2>
<%= if @current_user do %>
  <li>Logged in as: <%= @current_user.username %></li>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Url</th>
      <th>User</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for search_agent <- @search_agents do %>
    <tr>
      <td><%= search_agent.url %></td>
      <td><%= search_agent.user_id %></td>

      <td class="text-right">
        <%= link "Show", to: search_agent_path(@conn, :show, search_agent), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: search_agent_path(@conn, :edit, search_agent), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: search_agent_path(@conn, :delete, search_agent), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New search agent", to: search_agent_path(@conn, :new) %>
