<h2>New search agent</h2>
<p>Got to one of the supported websites, run the search and enter the URL of the search results below.</p>

<br>

<h4>Supported websites with example links</h4>
<ul>
  <!--<li><a href="https://www.ebay-kleinanzeigen.de/s-zu-verschenken/koeln/c192l945">Ebay Kleinanzeigen</a></li> -->
  <li><a href="https://www.immobilienscout24.de/Suche/S-T/Wohnung-Miete/Nordrhein-Westfalen/Koeln/Ehrenfeld/-/-/EURO--500,00">Immobilienscout24</a></li>
  <li><a href="https://www.kalaydo.de/kleinanzeigen/2/3/k/fahrrad/?DISTANCE=15&LOCATION=250823010&LOCATION_TEXT=50823+Ehrenfeld+%28K%F6ln%29&sort=1">Kalaydo</a></li>
  <li><a href="https://www.yourimmo.de/suche?l=K%C3%B6ln-Nippes&r=2km&a=de.koeln-nippes&t=all%3Arental&pf=&pt=&rf=0&rt=0&sf=&st=">Yourimmo</a></li>
</ul>

<%= render "form.html", changeset: @changeset,
                        action: search_agent_path(@conn, :create) %>

<%= link "Back", to: search_agent_path(@conn, :index) %>
