<div class="jumbotron">
  <h2>Notification on new search results</h2>
  <p class="lead">Enter a search results url for ebay kleinanzeigen.</p>
  <form action="/search">
    <label>
      URL:
      <input type="text" name="q" placeholder="http://www.ebay-kleinanzeigen.de/s-50937/fahrrad/k0l18675r5"></input>
    </label>
    <button type="submit" value="Submit">Submit</button>
  </form>
</div>
